<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>  
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"> 
    

    <title>Final Project BC0 10th Edition</title>
</head>
<body>
<section class="hero is-info has-text-centered is-fullheight">
  <div class="hero-head">
    <h1 class="title is-1">My Crypto</h1>
  </div>
 
  <div class="hero-body">
    <div class = "column is-half is-mobile">
     <section class="box">
        <h2 class="title1 is-size-2">
          Trading History
        </h2>
            <div class="table-container">
              <table id="history-table" class="table is-bordered is-striped is-fullwidth">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>  
                  <th>Crypto From</th>  
                  <th>Amount</th>    
                  <th>Crypto To</th>
                  <th>Amount</th>
                </tr>
             </thead>
             <tbody id="tbody-history" >
            </tbody>
          </table> 
           </div>
     </section>
    </div>
  <div class="columns is-multiline">
    <div class= "column is-full is-offset-one">
      <section class="section">
        <div class="box">
          <h2 class="title3 is-size-2">
            Wallet</h2>
            <div class="box">
            <table class="table is-horizantal is-striped is-fullwidth">
            <thead>
              <tr>
                <th>Total Value(EUR)</th>
                <th>Invested</th>
                <th>Earnings</th>
              </tr>
            </thead>
            <tbody id="tbody-wallet">
            </tbody>
          </table>
            <button id="update_wallet" class="button is-info is-hoverable mt-8">
              Update</button>
        </div> 
        </section>
        </div>
  <div class="column is-full is-offset-one">
    <div class="box">
     <button id="btn-trades" class="button is-link is-large is-hoverable">
      TRADING</button>
  
    <section id="trades" class="is-hidden">
     <div class="column is-full">
      <div class="box">
      <form id="form-trades">
        
        <div class="field is-grouped">
         <p class="control">
         <span class="select is-multiple is-medium">
           FROM
          <select class="is-focused" id="crypto_from">
            <option value="EUR">EUR</option>
            <option value="BTC">BTC</option>
            <option value="ETH">ETH</option>
            <option value="BNB">BNB</option>
            <option value="ADA">ADA</option>
            <option value="USDT">USDT</option>
            <option value="MATIC">MATIC</option>
            <option value="LUNA">LUNA</option>
            <option value="SOL">SOL</option>
            <option value="ATOM">ATOM</option>
          </select>
          </span>
         </p>
         <div class="field has-addons">
          <p class="control">
            <input class="input is-medium" type="number" placeholder="Amount" id="amount_from" >
          </p>
          </div>
          <div >
            <a class="button is-medium is-warning is-hoverable" id="calculate">
              <span class="material-icons-outlined">
                calculate
                </span>
                <p>Calculate</p>
            </a>
          </div>
        </div>
        <div class="field is-grouped">
          <p class="control">
        <span class="select is-multiple is-medium">
          TO
          <select class="is-focused" id="crypto_to">
            <option value="BTC">BTC</option>
            <option value="ETH">ETH</option>
            <option value="BNB">BNB</option>
            <option value="ADA">ADA</option>
            <option value="USDT">USDT</option>
            <option value="MATIC">MATIC</option>
            <option value="LUNA">LUNA</option>
            <option value="SOL">SOL</option>
            <option value="ATOM">ATOM</option>
            <option value="EUR">EUR</option>
          </select>
          </span>
        </p>
        <div class="content">
        <p class="is-size-3" id="amount_to">

        </p>
        </div>
        </div>

        <div class="field">
        <div class="control has-text-centered">
            <button id="accept" class="button is-success is-medium">
              Accept</button>
            <button id="cancel"class="button is-danger is-medium">
              Cancel</button>
        </div>
        </div>
      </form>
      </div>
    </div>
    </section>
    </div>
  </div>
  </div>
</div>
  <div class="hero-foot">
    <div class="container has-text-centered">
      <p>
        © Copyright. Todos los derechos reservados. Cristina Kukhar Kukhar 2022
      </p>
    </div>
  </div>

  <script src="{{ url_for('static',filename='app.js') }}"></script>  

</body>
</html>   
  
      
        
          


        